.entries-expense {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.value {
  width: 5rem;
  margin: 0.3rem;
}

.currency {
  width: 6rem;
  margin: 0.3rem;
}

.select-size {
  width: 11rem;
  margin: 0.3rem;
}

.description {
  width: 15rem;
  margin: 0.3rem;
}